@media screen and (max-width: 479px)
    #LOG_SIN
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: block
    #LOGIN_FORM
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: none
        #LOGIN_TAB
            margin: 0 auto
    #SINGUP_FROM
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: none
        #SINGUP_TBA
            margin: 0 auto